<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @donor.name %>
</p>

<p>
  <b>Contact:</b>
  <%= @donor.contact %>
</p>

<p>
  <b>Blood group:</b>
  <%= @donor.blood_group.bloodgroup %>
</p>


<%= link_to 'Back', donors_path %>
